{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Make your pick for the {{ event }}.
</h1>

<form name="Select" action="{{ url_for('main.submit_pick') }}" method='POST'>
	<select class="dropbtn is-block ids-fullwidth" name='Select' type='text' placeholder='Select your golfer.'>
		{% for pick in avail %}
			<option>
					{{ pick }}
			</option>
		{% endfor %}
	</select>
    <button class="button is-block is-info is-large is-fullwidth">Submit Pick</button>
</form>

{% endblock %}
