{% extends "base.html" %} {% block content %}
<div>
  <h3 class="title" style="text-align: center">Password Recovery</h3>
  <!-- <div class="box"> -->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="notification is-danger">{{ messages[0] }}</div>
  {% endif %} {% endwith %}
  <form method="POST" action="{{ url_for('auth.forgot_password_post') }}">
    <div>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter Your Email"
        autofocus=""
      />
    </div>
    <div>
      <button class="button">Send New Password</button>
    </div>
  </form>

  <!-- </div> -->
</div>
{% endblock %}
