{% extends "base.html" %} {% block content %}
<h1 class="title">{{ event }} pick</h1>
<h2 class="title">Current Round: {{ current_round }}</h2>

<section>
  <p class="title">{{ user }}, {{ pick_text }}</p>
  {% if strike_button_state %}
  <form name="Select" action="{{ url_for('main.submit_pick') }}" method="POST">
  <h3>Main Pick</h3>
    <select
      class="dropbtn is-block ids-fullwidth"
      name="main"
      name="main"
      type="text"
      placeholder="Select your golfer."
      style="width: 100%"
    >
      {% for pick in avail %}
      <option>{{ pick }}</option>
      {% endfor %}
    </select>
  <h3>Alternate Pick</h3>
    <select
      class="dropbtn is-block ids-fullwidth"
      id="alternate"
      name="alternate"
      type="text"
      placeholder="Select your alternate."
      style="width: 100%"
    >
      {% for pick in avail %}
      <option>{{ pick }}</option>
      {% endfor %}
    </select>
    <button class="button is-block is-info is-large is-fullwidth">
      {{ submit_text }}
    </button>
  </form>

</section>


{% endif %}

<h2 class="title">Modify Your Pick</h2>
    <p>Tap-In. Replace your Primary selection with your Alternate.</p>


  {% if substitute_button_state %}

  <button class="button" onclick="window.location.href='/use_tap_in';">
    Use Tap-In
  </button>
  {% else %}
    <button class="button disabled" diabled>
      Ineligible to Use Tap-In
    </button>
  {% endif %}

  <p> Double-Up. Double your Primary golfer's points for this week.</p>

  {% if double_up_button_state %}

    <button class="button" onclick="window.location.href='/use_double_up';">
      Use Double-Up
    </button>
  {% else %}
    <button class="button disabled" diabled>
      Ineligible to Use Double-Up
    </button>
  {% endif %}


{% endblock %}
