{% extends "base.html" %} {% block content %}
<h1 class="title">{{ event }} pick</h1>
<h3 class="title">Current Round: {{ current_round }}</h3>

<section>
  <h2 class="title">{{ user }}, {{ pick_text }}</h2>
  {% if strike_button_state %}
  <form name="Select" action="{{ url_for('main.submit_pick') }}" method="POST">
  <h3>Main Pick</h3>
    <select
      class="dropbtn is-block ids-fullwidth"
      name="main"
      name="main"
      type="text"
      placeholder="Select your golfer."
      style="width: 100%"
    >
      {% for pick in avail %}
      <option>{{ pick }}</option>
      {% endfor %}
    </select>
  <h3>Alternate Pick</h3>
    <select
      class="dropbtn is-block ids-fullwidth"
      id="alternate"
      name="alternate"
      type="text"
      placeholder="Select your alternate."
      style="width: 100%"
    >
      {% for pick in avail %}
      <option>{{ pick }}</option>
      {% endfor %}
    </select>
    <button class="button is-block is-info is-large is-fullwidth">
      {{ submit_text }}
    </button>
  </form>

</section>


{% endif %}

{% if ( substitute_button_state or double_up_button_state ) %}
<h2 class="title">Modify this pick!</h2>

  {% if substitute_button_state %}

  <button class="button" onclick="window.location.href='/use_tap_in';">
    Use Tap-In
  </button>
  {% endif %}

  {% if double_up_button_state %}

  <button class="button" onclick="window.location.href='/use_double_up';">
    Use Double-Up
  </button>
  {% endif %}
{% endif %}



{% endblock %}
