{% extends "base.html" %}

{% block content %}
<h1 class="title" style="text-align: center">
	{{ user.name }} total earnings: ${{ user_points }}
</h1>
<h3 class="title" style="text-align: center">
	pick history
</h3>
{{ pick_table }}
<h2 class="title">
user admin
</h2 class="title">
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger" style="text-align: center">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<a href="{{ url_for('main.update_password') }}">update password</a>
{% endblock %}
