{% extends "base.html" %} {% block content %}
<h1 class="title" style="text-align: center">
  {{ user.display_name }}
</h1>

<h3 class="title" style="text-align: center">{{ season }} Total Earnings: {{ user_points }} </h3>
<section>
<h3 class="title" style="text-align: center">{{ season }} Pick History</h3>
  <div>
    {{ pick_table | safe }}
  </div>
</section>

<p class="title" style="text-align: center">
  Breakfast Ball: {{ user.strikes_remaining }} ({{ user.strike_event }})
</p>

<p class="title" style="text-align: center">
  Tap-In: {{ user.substitutes_remaining }} ({{ user.substitute_event }})
</p>

<p class="title" style="text-align: center">
  Double-Up: {{ user.double_up_remaining }} ({{ user.double_up_event }})
</p>

<p class="title" style="text-align: center">
  LIV-Line: {{ user.liv_line_remaining }} ({{ user.liv_line_event }})
</p>

<section>
  <div>
    <h2 class="title">User Admin</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger" style="text-align: center">
      {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}
    <p><a href="{{ url_for('main.update_password') }}">Update Password</a></p>
    <p><a href="{{ url_for('main.update_display_name') }}">Update Team Name</a></p>
  </div>
  <section>{% endblock %}</section>
</section>
