{% extends "base.html" %} {% block content %}
<h1 class="title">Official League Rules</h1>

By participating in the pool you agree to the following:


<h3>THE BASICS</h3>
<li>Every team will select one golfer for each scheduled tournament</li>
<li>Once you have selected a golfer you cannot select them again</li>
<li>Player selections must be inputted before the first golfer tees off at each tournament</li>
<li>The selected player’s weekly earnings will contribute to the cumulative earnings for each team in the pool</li>
<li>Teams will be ranked in order of highest cumulative earnings to lowest cumulative earnings</li>



<h3>ENTRY FEE</h3>
<li>CAD $50</li>
<li>   </li>
<li>Email entry fee to davekyle@gmail.com before the Farmers Insurance Open. If entry fees are not received by AT&T Pebble Beach Pro Am, participant will be removed from the pool.</li>

<h3>PAYOUT STRUCTURE</h3>

<li>1st place = 70% total pot</li>
<li>2nd place = 20% total pot</li>
<li>3rd place = 10% total pot</li>


<h3>“STRIKE” RULE </h3>
Each team has one “strike” at the beginning of the season. A “strike” means if a pool participant fails to make their selection before the first player tees off in the tournament, the participant is able to select a golfer from those yet to tee off. You have the ability to do this once per season..



<h3>POSTPONED OR CANCELLED EVENTS</h3>
If a tournament is postponed or cancelled for all players during its scheduled time, all OAD participants will receive their selections back. In other words, you have the ability to pick them at a later tournament. Call it “the Players rule”. If the cancelled or postponed event is rescheduled for AFTER The Northern Trust tournament, it will not count in this pool’s results.


<h3>ALTERNATE GOLFER SELECTION</h3>
To account for golfer withdrawals, you can select an “Alternate” golfer. This player will be used in the event that your primary selection withdraws from the tournament.


<h3>GOLFER WITHDRAWALS</h3>
If your golfer withdraws after they have teed off in the tournament, your alternate selection will become your primary pick.


<h3>SCHEDULE</h3>
<table>
<tr>
	<th>DATES</th>
	<th>TOURNAMENT</th>
</tr>
<tr>
	<td>January 28 - 31 2021</td>
	<td>Farmers Insurance Open</td>
	</tr>
<tr>
	<td>February 04 - 07 2021</td>
	<td>Waste Management Phoenix Open</td>
	</tr>
<tr>
	<td>February 11 - 14 2021</td>
	<td>AT&T Pebble Beach Pro Am</td>
	</tr>
<tr>
	<td>February 18 - 21 2021</td>
	<td>The Genesis Invitational</td>
	</tr>
<tr>
	<td>February 25 - 28 2021</td>
	<td>WGC Mexico Championship </td>
	</tr>
<tr>
	<td>March 04 - 07 2021</td>
	<td>Arnold Palmer Invitational</td>
	</tr>
<tr>
	<td>March 11 - 14 2021</td>
	<td>The Players Championship</td>
	</tr>
<tr>
	<td>March 18 - 21 2021</td>
	<td>The Honda Classic </td>
	</tr>
<tr>
	<td>March 24 - 28 2021</td>
	<td>WGC Dell Technologies Match Play </td>
	</tr>
<tr>
	<td>March 01 - 04 2021</td>
	<td>Valero Texas Open</td>
	</tr>
<tr>
	<td>March 08 - 11 2021</td>
	<td>Masters Tournament</td>
	</tr>
<tr>
	<td>March 15 - 18 2021</td>
	<td>RBC Heritage</td>
	</tr>
<tr>
	<td>March 29 - April 02 2021</td>
	<td>Valspar Championship</td>
	</tr>
<tr>
	<td>May 06 - 09 2021</td>
	<td>Wells Fargo Championship</td>
	</tr>
<tr>
	<td>May 13 - 16 2021</td>
	<td>AT&T Byron Nelson</td>
	</tr>
<tr>
	<td>May 20 - 23 2021</td>
	<td>PGA Championship</td>
	</tr>
<tr>
	<td>May 27 - 30 2021</td>
	<td>Charles Schwab Challenge</td>
	</tr>
<tr>
	<td>June 03 - 06 2021</td>
	<td>The Memorial</td>
	</tr>
<tr>
	<td>June 10 - 13 2021</td>
	<td>RBC Canadian Open</td>
	</tr>
<tr>
	<td>June 17 - 21 2021</td>
	<td>U.S. Open</td>
	</tr>
<tr>
	<td>June 24 - 27 2021</td>
	<td>Travelers Championship</td>
	</tr>
<tr>
	<td>July 01 - 04 2021</td>
	<td>Rocket Mortgage Classic</td>
	</tr>
<tr>
	<td>July 08 - 11 2021</td>
	<td>John Deere Classic </td>
	</tr>
<tr>
	<td>July 15 - 18 2021</td>
	<td>The Open Championship</td>
	</tr>
<tr>
	<td>July 22 - 25 2021</td>
	<td>3M Open</td>
	</tr>
<tr>
	<td>August 05 - 08 2021</td>
	<td>WGC FedEx St. Jude </td>
	</tr>
<tr>
	<td>August 12 - 15 2021</td>
	<td>Wyndham Championship</td>
	</tr>
<tr>
	<td>August 19 - 22 2021</td>
	<td>The Northern Trust</td>
	</tr>
</table>
{% endblock %}
