{% extends "base.html" %} {% block content %}
<h1 class="title">Official League Rules</h1>

By participating in the pool you agree to the following:


<h3>THE BASICS</h3>

<li>Every team will select one golfer for each scheduled tournament </li>
<li>Once you have selected a golfer you cannot select them again</li>
<li>Player selections must be inputted before the first golfer tees off at each tournament (unless utilising Breakfast Ball lifeline)</li>
<li>The selected player’s weekly FedEx Cup points will contribute to the cumulative point total for each team in the pool</li>
<li>During FedEx Cup Playoff tournaments, points will be applied in the same scale as other “Elevated Events” throughout the season</li>
<li>Teams will be ranked in order of highest cumulative FedEx Cup points to lowest cumulative earnings</li>
<li>Every team has four lifelines (explained below). Each lifeline is deployable once per season. </li>


<h3>ENTRY FEE</h3>

<li>CAD $50</li>

<li>Email entry fee to davekyle@gmail.com before the Farmers Insurance Open. If entry fees are not received by AT&T Pebble Beach Pro Am, participant will be removed from the pool.</li>

<h3>PAYOUT STRUCTURE</h3>

<li>1st place = 70% total pot</li>
<li>2nd place = 20% total pot</li>
<li>3rd place = 10% total pot</li>

<h3>FOUR LIFELINES</h3>
<p>
	Each rule can be employed once during any tournament of the year. You can only use one per week, rules cannot be stacked.
</p>

<h4>BREAKFAST BALL</h4>
<p>
 	Select a golfer prior to the first tee time of the second round. You can use this rule if your player performed poorly in round one, or if you forgot to pick before the tournament began. If you replace your golfer between rounds one and two, both golfers will be struck from your list of eligible golfers in future events.
</p>

<h4>TAP IN</h4>
<p>
	Put your alternate golfer into your primary slot. Must be utilized before the first tee time of the third round. Both golfers will be struck from your list of eligible golfers in future events.
</p>

<h4>TOURNAMENT DOUBLE</h4>
<p>
	Double your golfers earnings for the tournament. Must employ rule before the first tee time of the fourth round.
</p>

<h4>LIV LINE</h4>
<p>
	Pick a gofer from a LIV event and earn the equivalent of a Flagship PGA Tour event.
</p>

<h3>POSTPONED OR CANCELLED EVENTS</h3>
<p>
	If a tournament is postponed or cancelled for all players during its scheduled time, all OAD participants will receive their selections back. In other words, you have the ability to pick them at a later tournament. If the cancelled or postponed event is rescheduled for AFTER The BMW Championship, it will not count in this pool’s results.
</p>
<h3>ALTERNATE GOLFER SELECTION</h3>
<p>
	To account for golfer withdrawals, you can select an “Alternate” golfer. This player will be used in the event that your primary selection withdraws from the tournament.

</p>
<h3>GOLFER WITHDRAWALS</h3>
<p>
	If your golfer withdraws after they have teed off in the tournament, your alternate selection will become your primary pick.
</p>

<h3>SCHEDULE</h3>

<table>
<tr>
	<th>EVENT</th>
	<th>TOURNAMENT</th>
</tr>

<tr> 
	<td>1</td> 
	<td>Farmers Insurance Open</td>
</tr>
<tr> 
	<td>2</td> 
	<td>AT&T Pebble Beach Pro Am</td>
</tr>
<tr> 
	<td>3</td> 
	<td>Waste Management Phoenix Open</td>
</tr>
<tr> 
	<td>4</td> 
	<td>The Genesis Invitational</td>
</tr>
<tr> 
	<td>5</td> 
	<td>Mexico Open</td>
</tr>
<tr> 
	<td>6</td> 
	<td>Cognizant Classic in The Palm Beaches</td>
</tr>
<tr> 
	<td>7</td> 
	<td>Arnold Palmer Invitational</td>
</tr>
<tr> 
	<td>8</td> 
	<td>The Players Championship</td>
</tr>
<tr> 
	<td>9</td> 
	<td>Valspar Championship</td>
</tr>
<tr> 
	<td>10</td> 
	<td>Texas Children's Houston Open</td>
</tr>
<tr> 
	<td>11</td> 
	<td>Valero Texas Open</td>
</tr>
<tr> 
	<td>12</td> 
	<td>Masters Tournament</td>
</tr>
<tr> 
	<td>13</td> 
	<td>RBC Heritage</td>
</tr>
<tr> 
	<td>14</td> 
	<td>LIV Adelaide</td>
</tr>
<tr> 
	<td>15</td> 
	<td>THE CJ CUP Byron Nelson</td>
</tr>
<tr> 
	<td>16</td> 
	<td>Wells Fargo Championship</td>
</tr>
<tr> 
	<td>17</td> 
	<td>PGA Championship</td>
</tr>
<tr> 
	<td>18</td> 
	<td>Charles Schwab Challenge</td>
</tr>
<tr> 
	<td>19</td> 
	<td>The Memorial</td>
</tr>
<tr> 
	<td>20</td> 
	<td>RBC Canadian Open</td>
</tr>
<tr> 
	<td>21</td> 
	<td>US Open</td>
</tr>
<tr> 
	<td>22</td> 
	<td>Travelers Championship</td>
</tr>
<tr> 
	<td>23</td> 
	<td>Rocket Mortgage Classic</td>
</tr>
<tr> 
	<td>24</td> 
	<td>John Deere Classic</td>
</tr>
<tr> 
	<td>25</td> 
	<td>Scottish Open</td>
</tr>
<tr> 
	<td>26</td> 
	<td>The Open Championship</td>
</tr>
<tr> 
	<td>27</td> 
	<td>3M Open</td>
</tr>
<tr> 
	<td>28</td> 
	<td>Olympics Men's Golf Competition</td>
</tr>
<tr> 
	<td>29</td> 
	<td>Wyndham Championship</td>
</tr>
<tr> 
	<td>30</td> 
	<td>FedEx St. Jude</td>
</tr>
<tr> 
	<td>31</td> 
	<td>BMW Championship</td>
</tr>


</table>
{% endblock %}
