{% extends "base.html" %} {% block content %}
<h1 class="title">Admin Actions</h1>

<section>
  <h3 class="subtitle">Update DB</h3>

  {% if update_button %}
  <button
    class="button is-block is-info is-large is-fullwidth"
    onclick="window.location.href='/end_week';"
  >
    End Week
  </button>
  {% else %}
  <button
    class="button is-block is-disabled is-large is-fullwidth"
    style="background-color: grey"
    disabled
  >
    End Week
  </button>
</section>
{% endif %}
<section>
  <h3 class="subtitle">Send Weekly Summary</h3>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="notification is-danger" style="text-align: center">
    {{ messages[0] }}
  </div>
  {% endif %} {% endwith %}
  <form name="Email" action="{{ url_for('main.weekly_update') }}" method="POST">
    <textarea rows="10" name="Email" , style="width: 100%"></textarea>
    <button class="button is-block is-info is-large is-fullwidth">
      Send Email
    </button>
  </form>
</section>

<section>
  <form name="Select" action="{{ url_for('main.set_event_type') }}" method="POST">
  <h3>Event Type</h3>
    <select
      class="dropbtn is-block ids-fullwidth"
      id="event_type"
      name="event_type"
      type="text"
      placeholder="Select event type."
      style="width: 100%"
    >
      {% for points in points_list %}
      <option>{{ points }}</option>
      {% endfor %}
    </select>
    <button class="button is-block is-info is-large is-fullwidth">
      Select
    </button>
  </form>

</section>


<section>
  <h3 class="subtitle">Manual Pick</h3>


  <form name="Pick" action="{{ url_for('main.manual_pick') }}" method="POST">
  <h3>User</h3>
    <select
      class="dropbtn is-block ids-fullwidth"
      id="user"
      name="user"
      type="text"
      placeholder="Select your golfer."
      style="width: 100%"
    >
      {% for user in users %}
      <option>{{ user }}</option>
      {% endfor %}
    </select>

  <h3>Main Pick</h3>
    <select
      class="dropbtn is-block ids-fullwidth"
      id="main"
      name="main"
      type="text"
      placeholder="Select your golfer."
      style="width: 100%"
    >
      {% for pick in avail_picks %}
      <option>{{ pick }}</option>
      {% endfor %}
    </select>
  <h3>Alternate Pick</h3>
    <select
      class="dropbtn is-block ids-fullwidth"
      id="alternate"
      name="alternate"
      type="text"
      placeholder="Select your alternate."
      style="width: 100%"
    >
      {% for pick in avail_picks %}
      <option>{{ pick }}</option>
      {% endfor %}
    </select>
  <h3>Helper</h3>
    <select
      class="dropbtn is-block ids-fullwidth"
      id="helper"
      name="helper"
      type="text"
      placeholder="Select your helper."
      style="width: 100%"
    >
      {% for helper in helpers_list %}
      <option>{{ helper }}</option>
      {% endfor %}
    </select>
    <button class="button is-block is-info is-large is-fullwidth">
      Pick
    </button>
  </form>

</section>


{% endblock %}
