{% extends "base.html" %} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages %}
<div class="notification is-danger" style="text-align: center">
  {{ messages[0] }}
</div>
{% endif %} {% endwith %}
<form action="{{ url_for('main.user_password_change') }}" method="POST">
  <div class="field">
    <div class="control">
      <input
        class="input is-large"
        type="password"
        name="old_pw"
        placeholder="Current Password"
        autofocus=""
      />
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input
        class="input is-large"
        type="password"
        name="pw1"
        placeholder="New Password"
        autofocus=""
      />
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input
        class="input is-large"
        type="password"
        name="pw2"
        placeholder="New Password"
      />
    </div>
  </div>

  <button class="button">Update</button>
</form>
{% endblock %}
