# Folders and directories
__pycache__


# Compiled
*.pyc
*.com
*.class
*.dll
*.exe
*.o
*.so
*.ipynb
*.txt
*.png
*.mov
*.trc
*.log
*.mp4
*.zip
*.json
*.mpg

# Ignore folders
auth

# DO not ignore
!requirements.txt
